<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
</body>
</html>
<head>
    <meta charset="utf-8">
    <!-- cssファイルの読み込み -->
    <link rel=stylesheet href="../static/css/style.css">
    <!-- ファビコンの設定 -->
    <link rel="icon" href="../static/images/favicon.ico"><!--later-->

    <title>GreenThumb</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href=''><img src="../static/images/logo-aboutus.png" ></a><!--later-->
        </div>

        <nav class="menu">
            <ul>
                <li><a href="/aboutus.html" class="menu-aboutus">About Us</a></li>

            </ul>
        </nav>
    </header>
<!-------------------->
    <main>
        <h1 class="content_title">About Us</h1>
        <div class="container1">
            <div class="box1">
                <p><img src="../static/images/marina.png" class="face"></p>
            </div>
               
            <div class="box2">
                <p><img src="../static/images/paris.png" class="face"></p>
            </div>
    
            <div class="box3">
                <p><img src="../static/images/emily.png" class="face"></p>
            </div>
            <div class="box4">
                <p><img src="../static/images/tina.png" class="face"></p>
            </div>
        </div>
        <div class="container2">
            <div class="box1">
                <p><img src="../static/images/m-flo.png" class="face"></p>
            </div>
               
            <div class="box2">
                <p><img src="../static/images/p-flo.png" class="face"></p>
            </div>
    
            <div class="box3">
                <p><img src="../static/images/e-flo.png" class="face"></p>
            </div>
            <div class="box4">
                <p><img src="../static/images/t-flo.png" class="face"></p>
            </div>
        </div>


    </main>
<!-------------------->
    <footer>
        <div class="footer_logo">©︎Green Thumb</div> <!--later remove-->
    </footer>
</body>
</html>