  nav {
    font-family: 'DM Sans', sans-serif;
    background-color: transparent;
    overflow: hidden;
    border-bottom: 1px solid #333333;
  }

  nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .textbox {
    width: 6in;
    height: 4in;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
  }
  
  .content {
    width: 100%;
    padding: 10px;
    font-family: 'DM Sans', sans-serif;
    flex: 1;
    overflow-y: scroll;
  }
  
  input[type="text"] {
    border: none;
    padding: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1em;
    outline: none;
    border-top: 1px solid #ccc;
  }
  

  
  
  
  



  