<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>

</html>
<head>
    <meta charset="utf-8">
    <link rel=stylesheet href="../static/css/style.css">
    <link rel="icon" href="">  <!-- later -->

    <title>explore the world</title>
</head>

<body>
    <header>
        <div class="logo"><!--later -->
            <a href='./templates/top.html' class="head">Explore the World with chatGBT</a>
        </div>

        
    </header>
<!-- template continue -->
<!--contents of html below（layout.htmlが主軸で使いまわされるイメージ）-->

    {% block content %}
    {% endblock %}
<!-------------------->

    <footer>
        <div class="footer_logo">©︎TechTogether name</div> 
    </footer>

</body>